.sw-character-friends-wrap {
  margin-left: 10px;
  .sw-character-friends-title {
    height: 90px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sw-character-friends {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}