.sw-sidebar-episode {
  font-size: 20px;
  color: dodgerblue;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    color: #3a79ee;
  }
}
.choose {
  font-size: 20px;
  font-weight: bold;
  color: dodgerblue;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    color: #3a79ee;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .left-area {
    width: 15%;
  }
  .center-area {
    width: 70%;
  }
  .right-area {
    width: 15%;
  }
}
